<div class="viewport">
    <div class="container-fluid">
        <div class="row spacer d-flex justify-content-between align-items-center">
            <span><h4>List View</h4></span>
            <span><button mat-raised-button color="primary">Filter</button></span>
        </div>
        <div class="row tb-viewport spacer" style="border: 1px solid black ;">
          <div class="container-fluid">
          <div class="row">
            <app-generate-table></app-generate-table>
          </div>
        </div>
        </div>
    </div>
</div>
