<div class="container-fluid">
  <div class="row fixed-top topbar"></div>
  <div class="row mainBody">
    <div class="sidebar"></div>
    <div class="viewport">
      <div class="container-fluid">
        <div
          class="row d-flex align-items-center justify-content-between spacer"
        >
          <span><h2>List View</h2></span>
          <span><button mat-raised-button color="primary" (click)="filterDiv()">
              Filter
            </button></span>
        </div>
        <div class="container-fluid">
          <div class="row" *ngIf="!filterBtn">
            <div class="col-12 mt-3">
              <app-generate-table></app-generate-table>
            </div>
          </div>
          <div class="row spacer" *ngIf="filterBtn">
            <app-generate-table class="tb-left mt-3"></app-generate-table>
            <div class="tb-right mt-3" *ngIf="filterBtn"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
